<div class="background">
    <div class="overlay">       
        <div #panel1 class="content">
            <app-banner></app-banner>
        </div>
        <div class="linkbar">
            <div appStickyFloat (stuck)=onStuck($event) (unstuck)=onUnstuck($event) [ngStyle]="{'box-shadow' : floatContentBar ? '8px 8px 10px #000000' : 'none'}" class="tele">
                <div style="display: inline-block;">
                    <button mat-button (click)="scrollToElement(panel1)" color="primary">1</button>
                    <button mat-button (click)="scrollToElement(panel2)" color="primary">2</button>
                </div>
            </div>
        </div>
        <div #panel2 class="content">
            <div  style="background-color: blue; height: 100vh;"></div>
        </div>
        <div class="content">
            <app-banner></app-banner>
        </div>

        <div class="sentinel sentinel"></div>
</div>



