<div class="background">
    <div class="overlay">       
        <div class="content">
            <app-banner></app-banner>
        </div>
        <div class="linkbar">
            <div appStickyFloat (stuck)=onStuck($event) (unstuck)=onUnstuck($event) [ngStyle]="{'box-shadow' : floatContentBar ? '8px 8px 10px #000000' : 'none'}" class="tele">Hello | Test</div>
        </div>
        <div class="content">
            <div  style="background-color: black; height: 100vh;"></div>
        </div>
        <div class="content">
            <app-banner></app-banner>
        </div>
</div>



