.content {
    z-index: 1;
}
.overlay {
    position: relative; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
}

.background {
    background: url("/assets/images/main-background.jpg");
    height: 300%;

    /* Parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
}

.linkbar{
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.tele {
    display: block;
    width: 100px;
    padding: 20px;
    border-width: thick;
    border-style: solid;
    border: blue;
    transition: box-shadow 0.3s ease;
    background-color: black;
    color:white;
    box-shadow: none;
}

.sticky_sentinel {
    position: relative;
    height: 20%;
    left: 0;
    right: 0; /* needs dimensions */
    transition: background-color 0.3s ease;
    background-color: rgb(255,0,0,0.5);
    visibility: visible; /*set to hidden*/
}

.sticky_sentinel--top {
    /* Adjust the height and top values based on your on your sticky top position.
    e.g. make the height bigger and adjust the top so observeHeaders()'s
    IntersectionObserver fires as soon as the bottom of the sentinel crosses the
    top of the intersection container. */
    height: 80px;
    top: -60px;
}
.sticky_sentinel--bottom {
    /* Height should match the top of the header when it's at the bottom of the
    intersection container. */
    height: calc(var(--header-height) + var(--default-padding));
    bottom: 0;
}
  #wrapper {
      background-color: lightgreen;
      height: 200px;
  }