<mat-toolbar>
    <nav>
        <button mat-button class="nav-item" color="primary">
            <a routerLink="/home">Home</a>
        </button>
        <button mat-button class="nav-item" color="primary">
            <a routerLink="/dashboard">Dashboard</a>
        </button>
    </nav>
    <span class='nav-right'>
        <button mat-button *ngIf="!auth.isLoggedIn" (click)="auth.login()">
            Log In
        </button>
        <button mat-button *ngIf="auth.isLoggedIn" (click)="auth.logout()">s
            Log Out
        </button>
    </span>
</mat-toolbar>