<mat-toolbar class="navbar">
    <nav>
        <a routerLink="/home">
            <button mat-button class="nav-item" color="primary">
                Home
            </button>
        </a>
        <a routerLink="/dashboard">
            <button mat-button class="nav-item" color="primary">
                Dashboard
            </button>
        </a>
    </nav>
    <span class='nav-right'>
        <button mat-button *ngIf="!auth.isLoggedIn" (click)="auth.login()">
            Log In
        </button>
        <button mat-button *ngIf="auth.isLoggedIn" (click)="auth.logout()">s
            Log Out
        </button>
    </span>
</mat-toolbar>