<h2>List of Ingredients</h2>

<mat-accordion>
    <mat-expansion-panel *ngFor="let ingredient of ingredients$ | async">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ingredient.name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{ingredient.description}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <form #f="ngForm" (ngSubmit)="putIngredient(ingredient)">

                    <mat-form-field>
                        <mat-label>Ingredient Name</mat-label>
                        <input matInput #name="ngModel" type="text" name="name" [(ngModel)]="ingredient.name" [disabled]="!ingredient.isEditable" required placeholder="Name" value={{ingredient.name}}>
                    </mat-form-field>

                    
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput #description="ngModel" type="text" name="description" [(ngModel)]="ingredient.description" [disabled]="!ingredient.isEditable" required placeholder="Description" value={{ingredient.name}}>
                    </mat-form-field>

                    <button mat-icon-button color='warn' *ngIf="!ingredient.isEditable" (click)="ingredient.isEditable=!ingredient.isEditable" color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon class='svg'>icon-edit</mat-icon>
                    </button>

                    <button mat-icon-button type="submit" *ngIf="ingredient.isEditable" [disabled]="f.form.invalid" color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon class='svg'>icon-done</mat-icon>
                    </button>

                    <button mat-icon-button (click)=deleteIngredient(ingredient.id) color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon class='svg'>icon-delete</mat-icon>
                    </button>
                </form>
            </ng-template>
    </mat-expansion-panel>
</mat-accordion>

<h2>Create a Task</h2>
<form [formGroup]="ingredient_form" (ngSubmit)="onSubmit()">

    <label for="name">Name</label>
    <input type="text" formControlName="name" required>
    <br>
    <label for="description">Description</label>
    <input type="text" formControlName="description" required>
	<br>
    <button type="submit" [disabled]="ingredient_form.invalid">Add Task</button>
</form>